
@{
    ViewData["Title"] = "Paytweak";
}

<h2>Envoi de SMS Paytweak </h2>
<br/>

    @ViewData["Etat"];

    <!DOCTYPE html>

    <html lang="en">

    <head>
        <title>Envoi d'un SMS Paytweak</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body>
       <div class="container">
            <p>Saisir un Nom et un Numero de téléphone:</p>
            <form>
                <div class="form-group">
                    <label for="Nom">Nom:</label>
                    <input type="text" class="form-control" name="Nom" id="Nom" />
                </div>
                <div class="form-group">
                    <label for="Prénom">Prénom:</label>
                    <input type="text" class="form-control" id="Prénom">
                    <div class="form-group">
                        <label for="Dette:">Dette:</label>
                        <input type="number" step="0.01" class="form-control" id="Dette">
                        <div class="form-group">
                            <label for="portable">Télephone:</label>
                            <input type="tel" class="form-control" id="portable">
                        </div>

                        <div class="form-group">
                            <label for="SMS">SMS:</label>
                            <textarea class="form-control" rows="5" id="SMS"></textarea>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-primary" type="submit" id="submit">Envoyer</button>
                        </div>S
</form>

        </div>

    </body>

</html>







