@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<style>
    [class*="col-"]{
        background-color:lightblue;
        border: 1px solid blue;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8">
            Premier element
        </div>
        <br/>
        <div class="clearfix visible-xs">   </div>
        <div class="col-xs-6 col-md-4">
            Deuxieme element
        </div>
        <div class="col-xs-6 col-md-4">
            troisieme element
        </div>
        <div class="clearfix visible-xs">   </div>
        <div class="col-xs-12 col-md-8">
            Quatrieme element
        </div>
        <div class="col-xs-12 col-md-8">
            Cinquieme element


        </div>

    </div>
</div>


<form>
    <div class="form-group">
        <label for="exampleFormControlInput1">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Example select</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect2">Example multiple select</label>
        <select multiple class="form-control" id="exampleFormControlSelect2">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
</form>